#main {
    height: 400px;
    width: 400px;
    margin: auto;
    background-color: #a6a9b6;
    border: 10px solid #666360;
    position: relative;

}

.box {
    width: 200px;
    height: 200px;

}

.orange {
    background-color: #ff912e;
    position: absolute;
    top: 200px;

}

.grey {
    background-color: #e4e4e4;
    position: absolute;
    left: 200px;

}