.box {
    margin: 20px auto;
    width: 150px;
    height: 150px;
    transition: 2s;
}

.one {
    background-color: red;
}

.two {
    background-color: blue;
}

.three {
    background-color: green;
}

.one:hover {
    width: 300px;
}

.two:hover {
    height: 300px;
}

.three:hover {
    width: 300px;
    height: 300px;
}